*{
    padding: 0;
    margin: 0;
}

body {
   background: #483f63;
   font-family: sans-serif;
   font-size: 17px;
   color: rgb(56, 12, 107);
   margin-right: 5%;
   float: right;
   
}

fieldset{
    border: 0;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

img {
    height: 500px;
    width: 500px;
    margin-left: -130%;
    margin-bottom: -120%;
}

.principal {
    color: rgba(97, 22, 182, 0.651);
}

legend {
    text-align: center;
    padding-top: 20px;

}

.pessoal{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    font-size: 15px;
}

.pessoal:hover  {
    background: rgba(159, 130, 185, 0.342);
}

#escolha{
    margin-bottom: 20px;
    padding: 2px;
}

select {
    display: block;
    padding: 2px;
    background-color: rgb(155, 103, 214);
    color: white;
    border-radius: 5px;
}

#selecao {
    padding-bottom: 10px;
}

button{
    background: rgb(116, 39, 204);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 160px;
}

button:hover {
    opacity: 0.6;
}

textarea:hover {
    background: rgba(212, 181, 245, 0.993);
}

